@import "../../styles/index.scss";

.wrapper {
  width: 100%;
  height: calc(100vh - 81px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-blue;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  height: 800px;
  background-color: #fff;
  border-radius: 48px;
  box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.5);

  .form {
    width: 540px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;

    .formTitle {
      font-family: $style-lora;
      font-size: $extra-large-text;
      font-weight: 700;

      //   &:after {
      //     content: "";
      //     position: absolute;
      //     bottom: -10px;
      //     left: 0;
      //     right: 0;
      //     width: 500px;
      //     height: 3px;
      //     background-color: $main-blue;
      //   }
    }

    .formFields {
      width: 100%;
      padding: 20px;
      margin-top: 50px;
      border: 1px solid #000;
      border-top-left-radius: 48px;
      border-top-right-radius: 48px;
      border-bottom-right-radius: 48px;
      border-bottom-left-radius: 48px;

      .formField {
        width: 100%;
        margin-bottom: 20px;

        .inputItem {
          width: 100%;
          color: #000;
          font-size: $middle-text;
          font-family: $style-montserrat;
          text-decoration: none;
          outline: none;
          transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
          border: none;
          border-bottom: 1px solid #000;
          padding: 10px;
        }
      }
    }

    .formFooter {
      width: 100%;
      margin-top: 50px;

      .submitBtn {
        width: 100%;
        padding: 10px;
        border-radius: 14px;
        background: none;
        background-color: $main-blue;
        color: #fff;
        border: none;
        font-size: $middle-text;
        font-family: $style-montserrat;
        cursor: pointer;

        &:hover {
          transition: 0.2s ease-in-out;
          background-color: #fff;
          color: $main-blue;
          border: 1px solid $main-blue;
        }
      }

      .formFooterNavigation {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .formNavigation {
          width: 100%;
          display: flex;
          justify-content: center;
          .questionTag {
            margin-right: 5px;
            font-size: $small-text;
            font-family: $style-montserrat;
          }
          .link {
            font-size: $small-text;
            font-family: $style-montserrat;
            &:hover {
              transition: 0.2s ease-in-out;
              color: #000;
            }
          }
        }
      }
    }
  }
}
